### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.classpath
.project
.settings/

### VSCode ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log
logs/

### Spring Boot ###
HELP.md
flight_booking_email_*.txt

### Env (no subir secretos a Git) ###
# .env
